body{
  background-color: aqua !important;
}

.App {
  text-align: center;
}

.App-palavras{
  text-align: center;
  background-color: yellow;
  height: 20px;
  
}


.fundo{
  height: 35px;
  background-color: aquamarine;
  box-shadow: black 1px 1px 1px;
}

.bordaFora{
  background-color: white;
  width: 245px;
  height: 170px;
  margin-left: 40%;
  margin-top: 50px;
 
  box-shadow: #000 2px 2px 1px;
  
  
}
.Assuntos{
  text-align: center;
  height: 160px;
}



.espacamentoEsquerdo{
  margin-left: 10px;
}

.espacamentoSair{
  padding: 10px;
  text-align: right;
}

.centralizarTexto{
  text-align: center;
}

.tamanhoImagem{
  width: 150px;
  height: 70px;
  padding-bottom: 15px;
}